@font-face {
  font-family: "Geist Sans";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Sans";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Italic[wght].woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Variable.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Italic[wght].woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Square";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Square.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Grid";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Grid.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Circle";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Circle.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Triangle";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Triangle.woff2") format("woff2");
}

@font-face {
  font-family: "Geist Pixel Line";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../node_modules/geist/dist/fonts/geist-pixel/GeistPixel-Line.woff2") format("woff2");
}
